.content {
    background-color: #e5e5e5
}

img.user-image {
    width: 30px;
}

.plugin-select {
    min-width: 200px !important;
}

.selected-plugin {
    color: #666666 !important;
}

.selected-plugin p {
    margin: 0;
    color: #686868;
    font-size: 18px;
    height: 50px;
}

.rounded-5 {
    padding: 15px !important;
    border-radius: 12px !important;
}

.rounded-3 {
    border-radius: 8px !important;
}

.box-container>div>div {
    border-radius: 5px;
    min-height: 200px;
    color: white !important
}

.box-container>div>div .details {
    max-height: 80px;
    padding: 20px 0 0 10%;
}

.details>div {
    float: left;
    text-align: left;
    margin-left: 5px;
}

.box-container>div>div .details h1 {
    font-size: 40px;
}

.box-container>div>div .details i {
    font-size: 55px;
    float: left;
    margin-right: 5px;
}

.box-container>div>div .details span {
    margin-top: -15px;
    font-size: 40px;
}

.activation-rate {
    background: rgb(93, 189, 71);
    background: linear-gradient(0deg, rgba(93, 189, 71, 1) 9%, rgba(217, 226, 91, 1) 85%);
}

.deactivation-rate {
    background: rgb(233, 69, 117);
    background: linear-gradient(0deg, rgba(233, 69, 117, 1) 9%, rgba(236, 101, 51, 1) 88%);
}

.activated {
    background: rgb(73, 156, 142);
    background: linear-gradient(0deg, rgba(73, 156, 142, 1) 17%, rgba(122, 238, 127, 1) 88%);
}

.deactivated {
    background: rgb(92, 105, 248);
    background: linear-gradient(0deg, rgba(92, 105, 248, 1) 17%, rgba(233, 68, 108, 1) 88%);
}

.plugin-info .selected-plugin-text {
    float: left;
}

.plugin-info .totalActivate,
.totalDownload {
    float: right;
}

.plugin-info h5 {
    color: #212529;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 25px;
}
